h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: blue;
}

h2{
    text-align: center;
    font-weight: bold;
    color: blue;
}

.block1{
    border: 5px double green;
    padding: 20px;
    margin: 5px;
    background-color: aquamarine;
}
.block1 img{
    width: 500px;
}

.block2{
    border: 5px double green;
    padding: 20px;
    margin: 5px;
    background-color: aquamarine;
}

.block2 img{
    width: 500px;
}

.block3{
    border: 5px double green;
    padding: 20px;
    margin: 5px;
    background-color: aquamarine;
}
.block3 img{
    width: 500px;
}
span{
    font-weight: bold;
    color: red;
}


.block4 img{
    height: 50px;
}
.block4 {
    text-align: center;
    border: 5px double gray;
    padding: 20px;
    margin: 5px;
}